h1 {
    color: blue;
}

p {
    color: green;
}

button {
    color: red;
    border-radius: 20px;
}

img.profile-picture {
    width: 220px;
    height: 280px;
    border-radius: 20px;
}

img.profile-picture:hover {
    border-radius: 50px;
}
